WECHAT_APPID=你的微信小程序AppID
WECHAT_SECRET=你的微信小程序AppSecret
WECHAT_SUBSCRIBE_TEMPLATE_ID=你的订阅消息模板ID
WECHAT_MINIPROGRAM_STATE=formal

PULSEDATA_BASE_URL=http://39.107.99.235:1008
PULSEDATA_CODE=RT_AU
PULSEDATA_PUBLIC_FALLBACK=true
